<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Job</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'helper/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'helper/css/style.css'%}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class='container-fluid'>
            <h1 class="navbar-brand">Handy Helper</h1>
            <a class="navbar-brand ml-auto navbar-link" href="/dashboard">Dashboard</a>
            <a class="navbar-brand navbar-link" href="/destroy">Logout</a>
        </div>
    </nav>
    <div class="container mt-2">
        <h1 class="display-4">Hello {{request.session.username}}! These are the job details!</h1>
        <div class="container jumbotron details">
            <ul>
                <h1 class="display-4">{{this_job.job}}</h1>
                <li><span>Description:</span> {{this_job.description}}</li>
                <li><span>Location:</span> {{this_job.location}}</li>
                <li><span>Posted by:</span> {{this_job.creator}}</li>
                <li><span>Posted on:</span> {{this_job.created_at}}</li>
                <li><span>Categories:</span> </li>
                <ul>
                    {% for category in this_job.category.all %}
                    <li>{{category.name}}</li>
                    {% endfor %}
                </ul>
            </ul>
        </div>
        <a href="">Add to my jobs</a>
    </div>
</body>

</html>